<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>your title</title>
    <style>
        body{    
            max-width: 1200px;
            margin: auto;
        }
        img{
            display: block;
            width: 100%;
        }
        .app-container,
        .web-container {
            display: none;
        }
    </style>
</head>
<body>

        <div class="app-container">
        </div>
        <div class="web-container">
        </div>
        <script>
            var app = ["aspendigital-mobile-section-1.webp","aspendigital-mobile-section-2.webp","aspendigital-mobile-section-3.webp","aspendigital-mobile-section-4.webp","aspendigital-mobile-section-5.webp","aspendigital-mobile-section-6.webp","aspendigital-mobile-section-7.webp","aspendigital-mobile-section-8.webp","aspendigital-mobile-section-9.webp","aspendigital-mobile-section-10.webp"];
            var web = ["aspendigital-web-section-1.webp","aspendigital-web-section-2.webp","aspendigital-web-section-3.webp","aspendigital-web-section-4.webp","aspendigital-web-section-5.webp","aspendigital-web-section-6.webp","aspendigital-web-section-7.webp","aspendigital-web-section-8.webp","aspendigital-web-section-9.webp","aspendigital-web-section-10.webp","aspendigital-web-section-11.webp","aspendigital-web-section-12.webp","aspendigital-web-section-13.webp"];
            var host = "https://aspen-dev.oss-ap-southeast-1.aliyuncs.com/afront/test/images/";
        </script>
        <script>
            var appContainer = document.querySelector('.app-container');
            var webContainer = document.querySelector('.web-container');
            /**
             * @description: 判断用户当前设备是否移动端
             * @params
             * @return boolean, 是否移动端
             */
            var isMobile = function () {
                if (
                    typeof window != "undefined" &&
                    navigator.userAgent.match(
                    /(phone|pad|pod|iPhone|iPod|ios|Android|Mobile|BlackBerry|IEMobile|MQQBrowser|JUC|Fennec|wOSBrowser|BrowserNG|WebOS|Symbian|Windows Phone)/i
                    )
                ) {
                    return true;
                }
                return false;
            };
            if (isMobile()) {
                appContainer.style.display = 'block';
                loadImages(appContainer, app);
            } else {
                webContainer.style.display = 'block';
                loadImages(webContainer, web);
            }

            function loadImages(container, images) {
                // var images = // container.querySelectorAll('img[data-src]');
                for (var i = 0; i < images.length; i++) {
                    var _ele = images[i];
                    var src = host + _ele
                    var img = document.createElement('img');
                    img.src = src
                    document.body.appendChild(img);
                }
            }
        </script>
    </body>
    
</html>